


/* 背景 */
body{
    background-color: #F5EFD7;
}




 /* 上半部的容器*/
#top_container{
    height: 100vh;
    /* 分成20*20 */
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    /* 點開頭圖片後 讓它延伸 */
    /* width: 350vh; */
    /* grid-template-columns: repeat(40, 1fr);   */
}
 /* 下半部的容器*/
#botton_container{
  display: none;
    height: 50vh;
    /* 點開頭圖片後 讓它延伸 */
    /* width: 350vh; */
}




/* 開頭圖片 */
#main_icon{
    /* 所占格子 */
    grid-column: 9/13; 
    grid-row: 5/11; 
    /* 根據格子的大小自動縮放，並保持其原有的長寬比例，不會撐大格子 */
    max-width: 100%;
    max-height: 100%;

    transition: all 1.5s ease;
}
#big_bite{
    /* 所占格子 */
    grid-column: 7/19; 
    grid-row:10/15; 
    margin-top: 3px;
    /* 根據格子的大小自動縮放，並保持其原有的長寬比例，不會撐大格子 */
    max-width: 150%;
    max-height: 100%;

    transition: all 1.5s ease;
}
#food_drink{
    /* 所占格子 */
    grid-column: 10/14; 
    grid-row: 13/15; 
    margin-top: 2px;
    margin-left: 24px;
    /* 根據格子的大小自動縮放，並保持其原有的長寬比例，不會撐大格子 */
    max-width: 100%;
    max-height: 100%;

    transition: all .5s ease;
}
/* 開頭圖片 hover */
#main_icon:hover{
    transform: scale3d(1.3,1.3,5);
    margin-bottom: 10px;
}
#big_bite:hover{
    transform: scale3d(1.3,1.3,5);
}
#food_drink:hover{
    transform: scale3d(1.3,1.3,5);
}






/* 糖(s)脂(l)蛋(p)比例表格 */
#slp_ratio_table{
    /* background-color: aquamarine; */
    /* 所占格子 */
    grid-column: 2/11; 
    grid-row: 4/12; 
    /* 也分格 */
    /* 分成20*20 */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* 一開始不顯現 */
    display: none;
    transition: all 1s ease;

}
/* 統一的格式 */
.table_text , .table_num{
    display: flex;
    justify-content: center; /* 將內容水平置中 */
    align-items: center; /* 將內容垂直置中 */
    /* 顯示框限 */
    border: 1px solid black;
}
/* 表格排版 */
#total_kcal_container{
    grid-column: 2/5; 
    grid-row: 1/2; 
    position: relative;
    
}
/* 大卡輸入 */
#total_kcal{
  /* 將內容水平置中 */
  text-align:center; 
  background-color: transparent;
  /* 只要下框線有顏色 */
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #6f5335;
  height: 30%;
  width: 10%;
  margin-right: 5px;
}
/* 誤差輸入 */
#error{
  /* 將內容水平置中 */
  text-align: center; 
  background-color: transparent;
  border: none;
  height: 30%;
  width: 15%;
}






/* 滑桿桿美化 */
.slider-container {
    grid-column: 2/11; 
    grid-row: 13/14; 
    width: 600px;
    height: 30px;
    /* 一開始不顯現 */
    display: none;
  }
  .slider{
    width: 500px;
    height: 3px;
    border-radius : 30px;
    background-color: #738678;
  }
  .node_ref_head{
    display : inline;
    border-radius : 50%;
    height : 30px;
    width : 30px;
    position: relative;
    bottom : 50%;
    left:0px;
    background-color: black;
  }
  .node1{
    border-radius : 50%;
    height : 30px;
    width : 30px;
    position: relative;
    bottom : 50%;
    left:120px;
    background-color: #e4af3a;
  }
  .node2{
    border-radius : 50%;
    height : 30px;
    width : 30px;
    position: relative;
    bottom : 150%;
    left:300px;
    background-color: #6f5335;
  }
  .node_ref_end{
    display : inline;
    border-radius : 50%;
    height : 30px;
    width : 30px;
    position: relative;
    bottom : 250%;
    left:500px;
    background-color: black;
  }
  .node1:hover,.node2:hover{
    cursor: e-resize;
  }





/* <!-- ai run 計算鈕 美化-->  copy 人家的*/
.ai_run_contaniner{
  grid-column: 3/9; 
  grid-row: 15/18; 
  /* 一開始不顯現 */
  display: none;
}
.custom-btn {
  /* width: 130px;
  height: 40px; */
  width: 390px;
  height: 120px;
  color: #e6f9f4;
  border-radius: 25px;
  padding: 10px 25px;
  font-family: 'Permanent Marker';
  font-weight: 300;
  font-size: 45px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-5 {
  /* width: 130px;
  height: 40px; */
  width: 390px;
  height: 120px;
  line-height: 42px;
  padding: 0;
  border: none;
  /* background: rgb(255,27,0);
background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%); */
background: rgb(247,150,192);
background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}



/* <!-- 份數表格 --> */
#EX_table{
  grid-column: 12/22; 
  grid-row: 2/20; 
  /* 分成20*20 */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(11, 1fr);
  /* 一開始不顯現 */
  display: none;

  /* 父層需要設置為相對定位，以便絕對定位的子層相對於父層定位  為了讓 error 不會影響排版 */
  position: relative;
}
/* 表格排版 */
/* 名稱 行一 */
.food_class_text{
  grid-column: 1/3; 
  grid-row: 1/2; 
}
.ex_text{
  grid-column: 3/4; 
  grid-row: 1/2; 
}
.many_ex_text{
  grid-column: 4/8; 
  grid-row: 1/2;
}
/* 奶類 行二三 */
.milk_text{
  grid-column: 1/2; 
  grid-row: 2/4;
}
/* 蔬菜 水果 無榖雜糧 */
.feg_text{
  grid-column: 1/3;
}
.fruit_text{
  grid-column: 1/3;
}
.grains_text{
  grid-column: 1/3;
}
/* 豆蛋源肉類 789行 */
.egg_text{
  grid-column: 1/2; 
  grid-row: 7/10;
}
/* 堅果 糖  */
.nuts_text{
  grid-column: 1/3;
}
.susugar_text{
  grid-column: 1/3;
}
/* 份數表格底下的所有輸入 */
#EX_table input{
  background-color: transparent;
  border: none;
  height: 60%;
  width: 60%;
}
/* 份數表格的好多份數 */
.many_ex_container{
  grid-column: 4/8; 
  grid-row: 2/12;
  /* 分成1*10 */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /* 超過的話用滾輪 */
  overflow-x: scroll;
  overflow-y: hidden;
}
.many_ex{
  /* 不換行 */
  white-space: nowrap;
  /* 顯示框限 */
  border: 1px solid black;
  /* 置中 */
  display: flex;
  justify-content: center; /* 將內容水平置中 */
  align-items: center; /* 將內容垂直置中 */

  /* 父層需要設置為相對定位，以便絕對定位的子層相對於父層定位  為了讓 error 不會影響排版
  position: relative; */

}
/* 份數的text */
.many_ex span{
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: transform .3s;
}

/* 懸浮顯示ｅｒｒｏｒ */
.many_ex div{
  /* display: inline; */
  height: 140px;
  width: 180px;
  background-color: #1f7a828d;
  border-radius: 40px 200% 200% 40px;
  z-index: 3;
  /* 毛玻璃背景 */
  backdrop-filter: blur(8px);
  /* border-color: rgb(11, 13, 14);
  border-width: 10px; */
  /* 陰影 */
  box-shadow: 25px 50px 50px 10px rgba(0,0,0,0.5);
  font-size: 18px;
  font-weight: 600;
  color: #e2eeeb;
  /* 漸層 */
  /* background: rgb(247,150,192);
  background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%); */
  /* 設置子層為絕對定位  這樣它會去找具有 position: relative;的父層去絕對定位自己的位置  (找到#EX_table)*/
  position: absolute; 
}
/* error 的內容排版 */
.many_ex div p{
  margin-left: 10px;
}



/* <!-- ############################################ 右上 ############################################ -->
<!-- 份配份數到不同餐次的表格 AETMT --> */
#Allocate_EX_to_meals_table{
  grid-column: 23/40; 
  grid-row: 2/20; 
  /* 分成20*20 */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /* 一開始不顯現 */
  display: none;
}
/* 底下的所有input */
#Allocate_EX_to_meals_table input{
  background-color: transparent;
  border: none;
  height: 60%;
  width: 60%;
}
/* 表格排版 */
.AETMT_food_class_text{
  grid-column: 1/3; 
  grid-row: 1/3; 
}
.AETMT_milk_text{
  grid-column: 3/5;
  grid-row: 1/2; 
}
.AETMT_feg_text{
  grid-row: 1/3; 
}
.AETMT_fruit_text{
  grid-row: 1/3; 
}
.AETMT_grains_text{
  grid-row: 1/3; 
}
.AETMT_egg_text{
  grid-column: 8/11; 
  grid-row: 1/2; 
}
.AETMT_nuts_text{
  grid-row: 1/3; 
}
.AETMT_susugar_text{
  grid-row: 1/3; 
}
.AETMT_EX_text{
  grid-column: 1/3;  
}
.AETMT_meals_text{
  grid-row: 4/11; 
}



/* ################################下面 菜單 table##################################################### */
table {
  /* border-collapse: collapse; 可以讓框線都連起來 */
  margin-right: 60px; /* 讓早餐早點有尖閣 */
  
}
th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
/* 早(午晚)餐 早(午晚)點 不換行 */
.meal_and_snack{
  display: flex;
}
/* 菜名輸入 */
.dish_name_input{
  border-bottom: groove;
  border-bottom-color: #6f5335;
  border-bottom-width: 2px;
}
/* 新增 和 刪除 按鈕 */
.expand-button , .delete_button ,.fold_button{
  background:none;
  border:none;
  cursor : pointer;
}
/* 計算營養成分按鈕 */
.caculate_nutrition{
  background:none;
  border:none;
  cursor : pointer;
}
/* 材料名稱 EX */
table input{
  background: none;
  height:30px;
  width : 100px;
  border : none; 
  text-align: center;
  white-space: nowrap; /* 使文字不換行 */
}


/* ################ 顯示材料名稱們 ################## */
#ingredients_container{
  position: fixed;  /* 固定定位，讓元素始終固定在視窗中的某個位置 */
  top: 50%;         /* 距離視窗頂部 50% */
  left: 50%;        /* 距離視窗左側 50% */
  transform: translate(-50%, -50%); /* 使元素的中心與視窗的中心對齊 */
  width: 700px;     /* 你可以根據需要設置寬度 */
  height: 400px;    /* 你也可以根據需要設置高度 */
  overflow-y: scroll;

  /* 毛玻璃 */
  /* background: rgba(255, 255, 255, 0.1); 白色背景，10% 的不透明度 */
  /* backdrop-filter: blur(10px); 背景模糊效果 */
  /* border-radius: 50px; 圓角 */
  /* backdrop-filter: invert(80%); */

  border: 20px ridge #c9a96fab; /* 3D脊梁邊框，效果取決於邊框的寬度和顏色值 */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 列，每列的寬度相等 */
  gap: 10px;                      /* 指定元素之間的間隙 */
  
  /* 一開始不出現 */
  display: none;

}
/* 包住材料名稱的span */
#ingredients_container span{
  text-align: center;             /* 文字居中對齊 */
  padding: 10px;                  /* 內部間隙 */
  border: 1px solid #ccc;         /* 邊框 */

  background: rgba(255, 255, 255, 0.1); /* 白色背景，10% 的不透明度 */
  backdrop-filter: blur(10px); /* 背景模糊效果 */
  border-radius: 20px;

  /* 字體 */
  font-size: 20px;
  font-weight: 600;

  cursor: pointer;
  transition: all .4s ease;
}
/* span 被懸浮 */
#ingredients_container span:hover{
  transform: scale3d(1.5,1.5,4);
  margin: 15px;
  background: rgba(114, 9, 195, 0.336); /* 白色背景，10% 的不透明度 */
}
/* ################ 顯示材料名稱們 ################## */



/* 剩餘份數~~ */
.remain span{
  transition: all .3s ease;
}



/* ################ 按下計算營養成分按鈕的等待圖示 ################## */
#loader_container{
  display:none;  /* 預設是隱藏的 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;  /* 保證它在其他元素之上 */
  background: rgba(0,0,0,0.3); /*半透明背景*/

  /* 將loader置中 */
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader_container .fa-spinner {
  font-size: 60px;
  color: #3498db;
}
/* ################ 按下計算營養成分按鈕的等待圖示 ################## */




/* ################# 廣義擴充版的每個餐次給予不同顏色和margin ############################################### */
.meal_and_snack{
  margin-top: 30px;
  margin-bottom:70px ;
}
.AETMT_1_table th{
  background-color: #e6adcfab;
}
.AETMT_1_table td{
  background-color: #e6adcf45;
}
.AETMT_2_table th{
  background-color: #C9ADBBab;
}
.AETMT_2_table td{
  background-color: #C9ADBB45;
}
.AETMT_3_table th{
  background-color: #ACADA7ab;
}
.AETMT_3_table td{
  background-color: #ACADA745;
}
.AETMT_4_table th{
  background-color: #8FAD93ab;
}
.AETMT_4_table td{
  background-color: #8FAD9345;
}
.AETMT_5_table th{
  background-color: #72AD7Fab;
}
.AETMT_5_table td{
  background-color: #72AD7F45;
}
.AETMT_6_table th{
  background-color: #54AB6Aab;
}
.AETMT_6_table td{
  background-color: #54AB6A45;
}
/* ################# 廣義擴充版的每個餐次給予不同顏色和margin ############################################### */


